{% extends "frontend/template.html.twig" %}
{% block head %}
    <title>Détail de l'annonce</title>
{% endblock %}
{% block body %}

    <div class="global-container">
        <div class="container container-white pt-3 pb-3 rounded ">
            <h3 class="text-center">
                {{ annonce.title|escape }}
            </h3>
            <p class="font-italic text-right">Publiée le {{ annonce.creationDate|date("d/m/Y") }}</p>
            <p>localisation: {{ annonce.city|raw }}</p>
            <div class="pt-3">
                <p>
                    <img class="w-25 h-25" src=../../../{{ annonce.image }}>
                </p>
            </div>
            <div class="pt-3">
                <p>
                    {{ annonce.content|raw }}
                </p>
            </div>
            <a class=" btn btn-danger btn-lg mt-3 " href="/spameditannonce/{{ annonce.id }}">Signaler</a>
            <button type="button" class="btn btn-primary btn-lg mt-3" data-toggle="modal" data-target="#myModal">
                Contacter {{ annonce.author }}
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" id="myModalLabel">Coordonnées du particulier</h4>
                        </div>
                        <div class="modal-body">
                            Tel: {{ annonce.tel|raw }}
                            <p><a>Email:</a> <a href="mailto:{{ annonce.email }}"> {{ annonce.email|raw }}</a></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
